[Unit]
Description=The SSH Key Sync daemon
After=network.target
[Service]
ExecStart=/usr/bin/keysync daemon
Type=simple
[Install]
WantedBy=multi-user.service